body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #F5F5F7;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow: auto;
    overflow-x: hidden;
}


.header{
    position: fixed;
    width: 100%;
    top: 0px;
    transition: top 0.3s;
    z-index: 110000;
    margin: 0;
}

.navbar{
    background: rgba(0, 0, 0, 0.81);
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    overflow: hidden;
    font-size: 13px;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.icon-nav{
    display: flex;
    align-items: center;
    gap: 10%;
}

.icon-nav a{
    padding: 5%;
}

.icon-nav a:hover{
    background-color: #DA292A;
    border-radius: 12px;
}

.icon-nav a img{
    scale: 70%;
}

.small-menu{
    display: flex;
    gap: 20%;
    padding: 8%;
}

.small-menu a{
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.about-nav:hover{
    background-color: #DA292A;
    border-radius: 12px;
}

.play-now{
    background: linear-gradient(98.82deg, #DA292A -39.52%, rgba(255, 14, 31, 0.42502) 116.26%, rgba(255, 14, 31, 0) 116.28%);
    border-radius: 12px;
}

@media only screen and (max-width: 768px){/*responsive navbar*/
    .navbar{
        height: 150%;
        justify-content: center;
        flex-direction: column;
        gap: 1%;
        align-items: center;
    }
    .icon-nav{
        justify-content: center;
        align-items: center;
    }
}

/* navbar sampe sini */


.container{
    width: 100%;
    height: 15vh;
    background-color: #7F0F10;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
}

.box{
    position: relative;
    width: 235px;
    height: 80px;
    background-color: #C21E26;
    border-radius:10px ;
    box-shadow: 1px 5px 6px rgba(0,0,0,0.5);
    display: flex;
    margin-left: 2.8rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.box:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.box h3{
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

.box img{
    justify-content: center;
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    margin-top: -10px;
    margin-bottom: 2px;
    width: 27%;

}

.box img.ram{
    width: 22%;
}

.container a{
    text-decoration: none;
}

.boks{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* lore */

.lore{
    display: flex;
    height: 100vh;
    background-image: url(asset/SVG/SVGSVG/bekbekbek.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.info h1{
    flex-direction: column;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 211px;
    margin-left: 5rem;
    color: #10223B;
    margin-bottom: 0;
}

.info p{
    align-self: flex-end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 198.02%;
    /* border: 1px solid red; */
    /* or 32px */
    color: #000000;
    margin-left: 20rem;
}

.text{
    display: flex;
    align-items: center;
}

.role{
    display: flex;
}

.text h3{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */


    color: #BB3232;
}
.karakter{
    position: absolute;
    right: 5rem;
    top: 0;
    margin-top: 17rem;
    
}

.karakter img{
    width: 80%;
    object-fit: contain;
}

.karakter-responsiv{
    display: none;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px){/*responsive navbar*/
    .lore{
        background-image: none;
        background-color: #D6D2C8;;
        height: 190vh;
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .info p{
        margin-left: 0;
        padding: 5%;
    }
    .info h1{
        margin: 0%;
    }
    .text{
        flex-direction: column;
    }
    .karakter{
        display: none;
    }
    .karakter-responsiv{
        display: block;
    }
}


/* ---- */


.abilities{
    display: flex;
    flex-direction: column;
    height: 350vh;
    justify-content: center;
    align-items: center;
    background-image: url(./Pictures/abilitiesbg.svg);
    background-position: center center;
    /* border: 1px solid red; */
}

.abilities h1{
    text-align: right;
    width: 100%;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 211px;
    color: #BB3232;
    margin-right: 3rem;
}

.video1{
    display: flex;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 1px solid red; */
    margin-bottom: 20rem;
}

.video2{
    display: flex;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 1px solid red; */
    margin-bottom: 20rem;
}
.video2 video{
    width: 70%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.video1 video{
    width: 70%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.skill-desc{
    display: flex;
    flex-direction: column;
}

.skill-desc img{
    max-width: 100%;
    object-fit: contain;
}

.skill-desc p{
    padding: 0 5% 0 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 198.02%;
}

.pembagi{
    display: flex;
    /* border: 1px solid red; */
    margin: 0;
}

.skill-name{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.skill-name h3, h5{
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 768px){/*responsive video*/
    .video1{
        flex-direction: column;
        margin-bottom: 9rem;
    }
    .video2{
        flex-direction: column-reverse;
        margin-bottom: 9rem;
    }
    .abilities h1{
        text-align: center;
    }
}

.behind{
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-image: url(./Pictures/behindlegendsbg.svg);
    background-size: cover;
    background-position: center center;
}

.behind h1{
    padding-left: 3%;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 211px;
    line-height: 88.5%;
}

.video-wrap{
    display: flex;
    justify-content: center;
    height: 50%;
}

.behind-vid{
    width: 80%;
    height: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: #272727;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.footer-head{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    overflow: hidden;

}
.footer-head a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    width: auto;
    overflow: hidden;
}

.footer-head a:hover{
    color: #BB3232;
}

.footer-head h1{
    margin: 0;
}

.textfooter{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    gap: 10%;
    margin: 0;
}

.footer-mid{
    color: white;
    display: flex;
    justify-items: center;
    width: 50%;
    text-align: center;
    /* border: 1px solid red; */
    flex-direction: column;
}

.esrb{
    position: absolute;
    scale: 90%;
    right: 3%;
    margin-top: 5%;
}


.mid img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-foot{
    display: flex;
    align-items: flex-end;
    background-color: #BB3232;
    height: 8vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.footer-foot a{
    scale: 70%;
    align-items: center;
    transition: transform 200ms;
}

.footer-foot a:hover{
    transform: translateY(-8px);
}

@media only screen and (max-width: 768px){/*responsive footer*/
    .footer-head{
        scale: 70%;
        width: 100%;
    }
    .esrb{
        display: none;
    }
    .footer-mid{
        scale: 70%;
        width: 90%;
    }
}
